{% extends 'base.html.twig' %}

{% block title %}
    Hello {{name}}!
{% endblock %}

{% block body %}
    <body class="helloBody">
    <video class="videoBackground" autoplay muted loop>
        <source src="{{ asset('video/background.mp4') }}" type="video/mp4">
    </video>
    <header class="viewport-header">
        <h1>
            THE&nbsp;IMPOSSIBLE
            <span>RODNEY MULLEN&nbsp;I&nbsp;TRICKI NA&nbsp;DESKOROLKĘ</span>
        </h1>
    </header>
    <a href="{{ url('article_index', {id: 1}) }}">Przejdź dalej >></a>
    </body>
{% endblock  %}